@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
