.header {
  padding: 0 5rem;
  width: 100%;
  min-height: 100vh;
  background-color: #0085FF;
  overflow-y: hidden;

  &__content {
    padding: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  &__left {
    width: 50%;
    h1 {
      font-size: 10rem;
      color: white;
    }

    span {
      font-size: 4rem;
      color: white;
      animation: textAnimate 10s linear infinite;
    }
  }

  &__right {
    width: 50%;
    text-align: end;
    align-self: flex-end;

    img {
      width: 90%;
      transform: translateY(7rem);
    }
  }

  @keyframes textAnimate {
    0% {
      color: white;
    }
    50% {
      color: #f8c000;
    }
  }
}
