.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  align-self: start;
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border-radius: 10rem;
  background-color: #ffb100;
  color: white;
}

.btn--lg {
  padding: 2rem 4rem;
  font-size: 3rem;
  margin-top: 5rem;
}

.btn--blue {
  background-color: #0085ff;
}

h2.h2 {
  font-size: 5rem;
  color: #0085ff;
  position: relative;
  align-self: center;
  justify-self: center;

  &::before {
    content: '';
    height: 0.3rem;
    width: 20%;
    background-color: #f8c000;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    animation: headlineAnimate 2s ease-in-out infinite;
  }

  @keyframes headlineAnimate {
    50% {
      top: 95%;
      transform: translateX(-50%) scale(1.2);
    }
  }

  &.light {
    color: white;

    &::before {
      display: none;
    }
  }
}

p.text {
  font-size: 2rem;
  text-align: justify;
}

.link {
  font-size: 3rem;
  color: black;
  font-weight: 700;
  text-decoration: none;
  position: relative;

  span {
    font-size: 2.5rem;
    position: absolute;
    left: 105%;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #f8c000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.3s;
  }

  &:hover {
    text-decoration: underline;

    span {
      left: 110%;
    }
  }
}
