.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  align-self: start;
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border-radius: 10rem;
  background-color: #dc3c4d;
  color: white;
}

.btn--lg {
  padding: 2rem 4rem;
  font-size: 3rem;
  margin-top: 5rem;
}

h2.h2 {
  font-size: 5rem;
  color: #f8c000;
  position: relative;

  &::before {
    content: '';
    height: 0.4rem;
    width: 30%;
    background-color: #f8c000;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    animation: headlineAnimate 2s ease-in-out infinite;
  }

  @keyframes headlineAnimate {
    50% {
      top: 90%;
      transform: translateX(-50%) scale(1.2);
      width: 30%;
    }
  }
}

p.text {
  font-size: 2rem;
  text-align: justify;
}
